<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>MATLAB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>NCAR Command Language (NCL)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>R</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
		
	    <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>FORTRAN</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Software Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Microsoft Office/PowerPoint/Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>ArcGIS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
		
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Visio</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Endnote</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Mandarine Chinese (Native Language)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
		
        </div>
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Academic Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Academic Writing</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Academic Presentation</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
		
        </div>
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://github.com/ZhouZang/PanelCV/raw/master/images/Resume_Zhou_Zang.pdf" download="https://github.com/ZhouZang/PanelCV/raw/master/images/Resume_Zhou_Zang.pdf">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>M.Sc. in <span class="duration">
		<i class="fa fa-calendar color"></i> 2019 – 2022 </span></h5>
		<h5></h5>
		<h5>Global Environment Change</h5>
                <h6><span class="fa fa-book"></span> College of Global Change and Earth System Science (GCESS), Beijing Normal University (Member University of Project 985)</h6>
	        <p>Research interest: Atmospheric remote sensing, Deep learning, Spatiotemporal analysis</p>
		<p> </p>    
		<p>Dissertation proposal: Improving the estimation of global long-term fine mode fraction by combing physical and deep learning methods.</p>
		<p> </p>
		<p>Supervisor: Dr. Xing Yan </p>
		<p> </p>
		<p>GPA: </p>
            </li>
            <li>
                <h5>B.Sc. in Atmospheric Sciences <span class="duration">
                <i class="fa fa-calendar color"></i> 2015 – 2019 </span></h5>
                <h6><span class="fa fa-book"></span> School of Atmospheric Sciences, Lanzhou University (Member University of Project 985)</h6>
		<p>Dissertation proposal: The impact of PM2.5 concentrations on infectious diseases in China (in Chinese), (selected as Excellent Thesis).</p>
		<p> </p>
		<p>Supervisor: Prof. Siyu Chen </p>
		<p> </p>
		<p>GPA: 4.57/5</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br> 
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>The First Prize Scholarship <span class="duration"><i class="fa fa-calendar color"></i> 2020</span></h5>
                <h6><span class="fa fa-trophy"></span> Beijing Normal University </h6>
            </li>
            <li>
                <h5> Excellent Bachelor Thesis of School of Atmospheric Sciences <span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                <h6><span class="fa fa-trophy"></span> Lanzhou University</h6>
            </li>
            <li>
                <h5> The Third Prize Scholarship <span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> Lanzhou University</h6>
            </li>
	    <li>
                <h5> The Third Prize Scholarship <span class="duration"><i class="fa fa-calendar color"></i> 2017</span></h5>
                <h6><span class="fa fa-trophy"></span> Lanzhou University</h6>
            </li>
	    <li>
                <h5> The First Prize Scholarship <span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                <h6><span class="fa fa-trophy"></span> Lanzhou University</h6>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  

	
<!-- research experience -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Research Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
		
            <li class="clearfix">
		    <b>
			<span>Near surface pollutant retrievals by deep learning models</span>
	            </b>
		    <br/>
		    <i>
			<span> August 2019 – August 2021（Supervisor: Dr. Xing Yan and Prof. Zhanqing Li）</span>
	            </i>
		    <br/>
		    <span> • PM2.5 near-real time monitoring over China and spatiotemporal interpretation by a new interpretable deep learning model EntityDenseNet.</span>
		    <br/>
		    <span> • Improving PM2.5 prediction and spatiotemporal interpretation at national and urban scale of China using the newly proposed Spatial-Temporal Interpretable Deep Learning Model (SIDLM).</span>
		    <br/>
		    <span> • Proposing an improved ensemble model (semi-SILDM) to realize accurate surface O3 prediction and interpretation at national and urban scale of China.</span>
		    <br/>
		    <b>
			<span> • My contribution</span>
	            </b>
		    <span>: Investigation, Validation, Formal analysis, Visualization, Writing - original draft.</span>
            </li>
	
	   <li class="clearfix">
		    <b>
			<span>Improving global fine-mode aerosol retrievals over land</span>
	            </b>
		    <br/>
		    <i>
			<span> September 2019 – May 2021（Supervisor: Dr. Xing Yan, Prof. Zhanqing Li and Prof. Chuanfeng Zhao）</span>
	            </i>
		    <br/>
		    <span> • Improving the global long-term land Fine-Mode Fraction (FMF) and fine-mode Aerosol Optical Depth (fAOD) data using the physical method and MODIS retrievals.</span>
		    <br/>
		    <span> • Investigating the spatiotemporal changes behind the global fine-mode aerosols and its associates using statistical methods and deep learning approach.</span>
		    <br/>
		    <b>
			<span> • My contribution</span>
	            </b>
		    <span>: Investigation, Validation, Formal analysis, Visualization, Writing - original draft.</span>
            </li>	
		
	     <li class="clearfix">
		    <b>
			<span>Improving PM2.5 retrievals in machine learning models</span>
	            </b>
		    <br/>
		    <i>
			<span> December 2020 – June 2021（Supervisor: Dr. Xing Yan）</span>
	            </i>
		    <br/>
		    <span> • Demonstrating the importance of including FMF to improve PM2.5 estimations and more accurate FMF product enables
superior PM2.5 retrievals in deep and classical machine learning models.</span>
		    <br/>
		    <b>
			<span> • My contribution</span>
	            </b>
		    <span>: Conceptualization, Investigation, Validation, Formal analysis, Visualization, Writing - original draft.</span>
            </li>	
		
            <li class="clearfix">
		    <b>
			<span>Field Works</span>
	            </b>
		    <br/>
		    <i>
			<span> June 2019 – June 2021（Supervisor: Dr. Xing Yan and Prof. Zhanqing Li）</span>
	            </i>
		    <br/>
		    <b>
			<span> • My contribution</span>
	            </b>
		    <span>: In-situ aerosol components observation in metropolitan cities of China (Beijing, Shanghai and Guangzhou) using 3-D Lidar.</span>
            </li>

        </ul>
</div>
</div>
     
<div style="clear: both"></div>   
</div>
	

<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Publications</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
		
	    <li class="clearfix">
	             <b>
			<span>Zang, Z.,</span>
	            </b>
			<span>Guo, Y., Jiang, Y., Chen, Z., Li, D., Shi, W. and Yan, X. (2021). Tree-Based Ensemble Deep Learning Model for Spatiotemporal Surface Ozone (O3) Prediction and Interpretation. Int. J. Appl. Earth. Obs. 103, 102516.</span>
            </li>
	
	    <li class="clearfix">
	             <b>
			<span>Zang, Z.,</span>
	            </b>
			<span>Li, D., Guo, Y., Shi, W. and Yan, X. (2021). Superior PM2.5 estimation by intergrating aerosol fine mode data from the himawari-8 satellite in deep and classical machine learning models. Remote. Sen. 13(14), p.2779.</span>
            </li>
		
	    <li class="clearfix">
                <span>Yan, X.,</span>
	             <b>
			<span>Zang, Z.,</span>
	            </b>
			<span>Zhao, C., Husi, L., 2021. Understanding global changes in fine-mode aerosols during 2008-2017 using statistical methods and deep learning approach. Environ. Int. 149, 106392.</span>
            </li>
		
            <li class="clearfix">
                <span>Yan, X.,</span>
	             <b>
			<span>Zang, Z.,</span>
	            </b>
			<span>Liang, C., Luo, N., Ren, R., Cribb, M., Li, Z., 2021. New global aerosol fine-mode fraction data over land derived from MODIS satellite retrievals. Environ. Pollut. 276, 116707.</span>
            </li>
		
            <li class="clearfix">
                <span>Yan, X.,</span>
	             <b>
			<span>Zang, Z.,</span>
	            </b>
			<span>Jiang, Y., Shi, W., Guo, Y., Li, D., Zhao, C., Husi, L., 2021. A Spatial-Temporal Interpretable Deep Learning Model for improving interpretability and predictive accuracy of satellite-based PM2.5. Environ. Pollut. 273, 116459.</span>
            </li>
		
            <li class="clearfix">
                <span>Liang, C.,</span>
	             <b>
			<span>Zang, Z.,</span>
	            </b>
			<span>Li, Z., Yan, X., 2020. An improved global land anthropogenic aerosol product based on satellite retrievals from 2008 to 2016. IEEE Geosci. Remote Sens. Lett. 1–5.</span>
            </li>
			
            <li class="clearfix">
                <span>Yan, X.,</span>
	             <b>
			<span>Zang, Z.,</span>
	            </b>
			<span>Luo, N., Jiang, Y., Li, Z., 2020. New interpretable deep learning model to monitor real-time PM2.5 concentrations from satellite data. Environ. Int. 144.</span>
            </li>
	
            <li class="clearfix">
                <span>Yan, X., Liang, C., Jiang, Y., Luo, N.,</span>
	             <b>
			<span>Zang, Z.,</span>
	            </b>
			<span>Li, Z., 2020. A Deep Learning Approach to Improve the Retrieval of Temperature and Humidity Profiles From a Ground-Based Microwave Radiometer. IEEE Trans. Geosci. Remote Sens. 58, 8427–8437.</span>
            </li>
		
        </ul>
</div>
</div>
     
<div style="clear: both"></div>   
</div>

	
<!-- client reference1 -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Conferences</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
                <span>Quantitive Remote Sensing Forum, 2021, Wuhan, China.</span>
		<br/>
		<b>
			<span>Poster Presentation: </span>
	        </b>    
                <span>Superior PM2.5 estimation by integrating aerosol fine mode data from the Himawari-8 satellite in deep and classical machine learning models (in Chinese).</span>
            </li>
        </ul>
</div>
</div>
     
<div style="clear: both"></div>   
</div>
	
	
</div>
<!-- End .resume -->
