<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>MATLAB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>NCAR Command Language (NCL)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>R</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Software Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Microsoft Office/PowerPoint/Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>ArcGIS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
		
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Visio</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Endnote</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Mandarine Chinese (Native Language)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
		
        </div>
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Academic Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Academic Writing</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Academic Presentation</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
		
        </div>
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>M.Sc. in Global Environment Change <span class="duration"><i class="fa fa-calendar color"></i> 09/2019 – 06/2022 </span></h5>
                <h6><span class="fa fa-book"></span> College of Global Change and Earth System Science (GCESS), Beijing Normal University (Member University of Project 985)</h6>
                <p>Core courses: </p>
		<p>Dissertation proposal: Improving the estimation of global long-term fine mode fraction by combing physical and deep learning methods.</p>
		<p>Supervisor: Dr. Xing Yan </p>
		<p>GPA: </p>
            </li>
            <li>
                <h5>B.Sc. in Atmospheric Sciences <span class="duration"><i class="fa fa-calendar color"></i> 06/2019 – 09/2015 </span></h5>
                <h6><span class="fa fa-book"></span> School of Atmospheric Sciences, Lanzhou University (Member University of Project 985)</h6>
                <p>Core courses: Atmospheric Physicals, Atmospheric Chemistry, Satellite Radiation and Remote Sensing, Satellite Meteorology, Physical Climatology, Synoptic Meteorology, Dynamic Meteorology, FORTRAN language and Application</p>
		<p>Dissertation proposal: The impact of PM2.5 concentrations on infectious diseases in China (in Chinese), (selected as Excellent Thesis).</p>
		<p>Supervisor: Prof. Siyu Chen </p>
		<p>GPA: 4.57/5</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Research Experiences</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Research Assistant <span class="duration"><i class="fa fa-calendar color"></i> 09/2019 - to date</span></h5>
                <h6><span class="fa fa-book"></span> College of Global Change and Earth System Science (GCESS), Beijing Normal University </h6>
                <p>Focus1: Application of the deep learning models and tree-based machine learning models on atmospheric remote sensing of retrieving and analyzing near surface pollution (PM2.5, O3) and aerosol component (fine mode fraction).</p>
		<p>Focus2: Improving the accuracy and interpretability of deep learning models for satellite-based aerosol retrievals.</p>
		<p>Supervisor: Dr. Xing Yan </p>
            </li>
            <li>
                <h5>Field Campaign <span class="duration"><i class="fa fa-calendar color"></i> 2019 - 2020</span></h5>
                <h6><span class="fa fa-book"></span> College of Global Change and Earth System Science (GCESS), Beijing Normal University</h6>
                <p>06/2019 - 09/2019 in Nanjiao, Beijing; 01/2020 in Guangzhou, Guangdong; 03/2020 - 09/2020 in Baoshan, Shanghai.</p>
		<p>Focus: In-situ observations for aerosol components and their chemical and physical characteristics in metropolitans (Beijing, Shanghai and Guangzhou) of China using 3-D Lidar.</p>
		<p>Supervisor: Dr. Xing Yan and Prof. Zhanqing Li </p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>The First Prize Scholarship <span class="duration"><i class="fa fa-calendar color"></i> 2020</span></h5>
                <h6><span class="fa fa-trophy"></span> Beijing Normal University </h6>
            </li>
            <li>
                <h5> Excellent Bachelor Thesis of School of Atmospheric Sciences <span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                <h6><span class="fa fa-trophy"></span> Lanzhou University</h6>
            </li>
            <li>
                <h5> The Third Prize Scholarship <span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> Lanzhou University</h6>
            </li>
	    <li>
                <h5> The Third Prize Scholarship <span class="duration"><i class="fa fa-calendar color"></i> 2017</span></h5>
                <h6><span class="fa fa-trophy"></span> Lanzhou University</h6>
            </li>
	    <li>
                <h5> The Third Prize Scholarship <span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                <h6><span class="fa fa-trophy"></span> Lanzhou University</h6>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
